  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">

<!--<nav>
  <a class="button" routerLink="/crisis-list"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Crisis Center</a> |
  <a class="button" routerLink="/crisis-details"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Crisis Details</a>
</nav>-->

   <div id="main-wrapper">
        <!-- Sidebar -->
        <div id="sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="d-flex align-items-center" >
                        Page Links
                    </a>
                </li>
                <li>
                    <a class="button" routerLink="/crisis-list"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Crisis Center</a>
                </li>
                <li>
                    <a class="button" routerLink="/crisis-details"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Crisis Details</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar -->

        <!-- Page Content -->
        <div id="main-content">
        	<!-- navbar start -->
        	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  	<!-- sidebar collapse button ## mobile view -->
				<ul class="navbar-nav  d-flex align-items-center ">
			      <li class="nav-item active mobile-view">
			        <a class="nav-link d-flex align-items-center" href="#menu-toggle"  id="menu-toggle">
			        	<i class="material-icons">menu</i>
			        	<span class="sr-only">(current)</span></a>
			      </li>
			  	</ul>
			  	<!-- end sidebar collapse button ## mobile view -->
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav d-flex align-items-center">
			      <li class="nav-item active">
			        <a class="nav-link d-flex align-items-center" href="#menu-toggle"  id="menu-toggle">
			        	Home
			        	<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Features</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Pricing</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			      </li>
			    </ul>
			  </div>
			</nav>
			<!-- navbar ends -->
            <div class="container-fluid">
                
                <router-outlet></router-outlet>

            </div>
        </div>
        <!-- /#main-content -->

    </div>










